
.ac-widget {
    width: 100%;
}

.ac-widget .ac-input {
    width: 75%;
}

.ac-widget .ac-submit {
    width: 20%;
}

.ac-widget .ac-dialog {
    width: 75%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #AAA;
}

.ac-widget .ac-item {
    padding: 2px 4px;
}

.ac-widget .ac-item:hover {
    background-color: #ccffcc;
    cursor: pointer;
}
